[package]
name = "deno_doc"
version = "0.72.2"
edition = "2021"
description = "doc generation for deno"
authors = ["the Deno authors"]
license = "MIT"
repository = "https://github.com/denoland/deno_doc"

[lib]
crate-type = ["cdylib", "rlib"]
name = "deno_doc"

[[example]]
name = "ddoc"
required-features = ["html"]

[dependencies]
anyhow = "1.0.58"
cfg-if = "1.0.0"
deno_ast = "0.31.0"
deno_graph = { version = "0.59.2", features = ["symbols"], path = "../deno_graph" }
indexmap = "2.0.2"
futures = "0.3.26"
import_map = "0.15.0"
lazy_static = "1.4.0"
regex = "1.6.0"
serde = { version = "1.0.140", features = ["derive"] }
serde_json = { version = "1.0.82", features = [ "preserve_order" ] }
termcolor = "1.1.2"

console_error_panic_hook = { version = "0.1.7", optional = true }
js-sys = { version = "=0.3.64", optional = true }
serde-wasm-bindgen = { version = "=0.5.0", optional = true }
wasm-bindgen = { version = "=0.2.87", optional = true }
wasm-bindgen-futures = { version = "=0.4.37", optional = true }

html-escape = { version = "0.2.13", optional = true }
comrak = { version = "0.19.0", optional = true }
tinytemplate = { version = "1.2.1", optional = true }

[dev-dependencies]
anyhow = { version = "1.0.58" }
clap = "2.33.3"
criterion = { version = "0.4.0", features = ["async_futures", "html_reports"] }
tokio = { version = "1.25.0", features = ["full"] }
pretty_assertions = "1.0.0"

[features]
default = ["rust"]
rust = []
html = ["html-escape", "comrak", "tinytemplate"]
wasm = ["js-sys", "serde-wasm-bindgen", "wasm-bindgen", "wasm-bindgen-futures", "console_error_panic_hook"]

[profile.release]
codegen-units = 1
incremental = true
lto = true
opt-level = "s"
