[package]
name = "deno_doc"
version = "0.1.20"
edition = "2018"
description = "doc generation for deno"
authors = ["the Deno authors"]
license = "MIT"

[lib]
name = "deno_doc"

[[example]]
name = "ddoc"

[dependencies]
futures = "0.3.12"
lazy_static = "1.4.0"
serde = { version = "1.0.120", features = ["derive"] }
serde_json = { version = "1.0.61", features = [ "preserve_order" ] }
swc_common = "0.10.9"
swc_ecmascript = { version = "0.18.4", features = ["parser"] }
termcolor = "1.1.2"
regex = "1.4.3"

[dev-dependencies]
clap = "2.33.3"
tokio = { version = "1.1.0", features = ["full"] }
url = "2.2.0"
