[package]
name = "deno_doc"
version = "0.74.1"
edition = "2021"
description = "doc generation for deno"
authors = ["the Deno authors"]
license = "MIT"
repository = "https://github.com/denoland/deno_doc"

[workspace]
members = ["lib"]

[workspace.dependencies]
deno_graph = { version = "0.62.0", features = ["symbols"] }
import_map = "0.18.0"
serde = { version = "1.0.140", features = ["derive"] }

[lib]
crate-type = ["cdylib", "rlib"]
name = "deno_doc"

[[example]]
name = "ddoc"
required-features = ["html"]

[dependencies]
anyhow = "1.0.58"
cfg-if = "1.0.0"
deno_ast = "0.31.5"
deno_graph.workspace = true
indexmap = "2.0.2"
futures = "0.3.26"
import_map.workspace = true
lazy_static = "1.4.0"
regex = "1.6.0"
serde.workspace = true
serde_json = { version = "1.0.82", features = [ "preserve_order" ] }
termcolor = "1.1.2"

html-escape = { version = "0.2.13", optional = true }
comrak = { version = "0.19.0", optional = true, default-features = false }
tinytemplate = { version = "1.2.1", optional = true }

[dev-dependencies]
anyhow = { version = "1.0.58" }
clap = "2.33.3"
criterion = { version = "0.4.0", features = ["async_futures", "html_reports"] }
tokio = { version = "1.25.0", features = ["full"] }
pretty_assertions = "1.0.0"

[features]
default = ["html", "rust"]
rust = []
html = ["html-escape", "comrak", "tinytemplate"]

[profile.release]
codegen-units = 1
incremental = true
lto = true
opt-level = "s"
