[package]
name = "deno_doc"
version = "0.10.0"
edition = "2018"
description = "doc generation for deno"
authors = ["the Deno authors"]
license = "MIT"

[lib]
crate-type = ["cdylib", "rlib"]
name = "deno_doc"

[[example]]
name = "ddoc"

[dependencies]
anyhow = { version = "1.0.43", optional = true }
cfg-if = "1.0.0"
deno_graph = "0.2.1"
futures = "0.3.16"
js-sys = { version = "0.3.52", optional = true }
lazy_static = "1.4.0"
serde = { version = "1.0.127", features = ["derive"] }
serde_json = { version = "1.0.66", features = [ "preserve_order" ] }
swc_common = "0.11.6"
swc_ecmascript = { version = "0.56.0", features = ["parser"] }
termcolor = "1.1.2"
regex = "1.5.4"
wasm-bindgen = { version = "0.2.75", features = ["serde-serialize"], optional = true }
wasm-bindgen-futures = { version = "0.4.25", optional = true }

[dev-dependencies]
clap = "2.33.3"
criterion = { version = "0.3.5", features = ["async_futures", "html_reports"] }
tokio = { version = "1.9.0", features = ["full"] }
pretty_assertions = "0.7.2"

[features]
default = ["rust"]
rust = []
wasm = ["anyhow", "js-sys", "wasm-bindgen", "wasm-bindgen-futures"]

[profile.release]
codegen-units = 1
incremental = true
lto = true
opt-level = "s"

[[bench]]
name = "doc_parser"
harness = false
