[package]
name = "deno_doc"
version = "0.91.0"
edition = "2021"
description = "doc generation for deno"
authors = ["the Deno authors"]
license = "MIT"
repository = "https://github.com/denoland/deno_doc"

[workspace]
members = ["lib"]

[workspace.dependencies]
deno_graph = { version = "0.63.2", default-features = false, features = ["symbols"] }
import_map = "0.18.0"
serde = { version = "1.0.140", features = ["derive"] }

[lib]
crate-type = ["cdylib", "rlib"]
name = "deno_doc"

[[example]]
name = "ddoc"
required-features = ["html"]

[dependencies]
anyhow = "1.0.58"
cfg-if = "1.0.0"
deno_ast = "1.0.0"
deno_graph.workspace = true
indexmap = "2.0.2"
futures = "0.3.26"
import_map.workspace = true
lazy_static = "1.4.0"
regex = "1.6.0"
serde.workspace = true
serde_json = { version = "1.0.82", features = [ "preserve_order" ] }
termcolor = "1.1.2"

html-escape = { version = "0.2.13", optional = true }
comrak = { version = "0.20.0", optional = true, default-features = false }
handlebars = { version = "5.0", optional = true, features = ["string_helpers"] }
tree-sitter-highlight = { version = "0.20.1", optional = true }

tree-sitter-javascript = { version = "0.20.1", optional = true }
tree-sitter-typescript = { version = "0.20.3", optional = true }
tree-sitter-json = { version = "0.20.1", optional = true }
tree-sitter-regex = { version = "0.20.0", optional = true }
tree-sitter-css = { version = "0.20.0", optional = true }
tree-sitter-toml = { version = "0.20.0", optional = true }
tree-sitter-md = { version = "0.1.7", optional = true }


[dev-dependencies]
anyhow = { version = "1.0.58" }
clap = "2.33.3"
criterion = { version = "0.4.0", features = ["async_futures", "html_reports"] }
tokio = { version = "1.25.0", features = ["full"] }
pretty_assertions = "1.0.0"

[features]
default = ["html", "tree-sitter-all", "rust"]
rust = []
html = ["html-escape", "comrak", "handlebars", "tree-sitter-highlight"]
tree-sitter-all = ["tree-sitter-javascript", "tree-sitter-typescript", "tree-sitter-json", "tree-sitter-regex", "tree-sitter-css", "tree-sitter-toml", "tree-sitter-md"]
tree-sitter-javascript = ["dep:tree-sitter-javascript"]
tree-sitter-typescript = ["dep:tree-sitter-typescript"]
tree-sitter-json = ["dep:tree-sitter-json"]
tree-sitter-regex = ["dep:tree-sitter-regex"]
tree-sitter-css = ["dep:tree-sitter-css"]
tree-sitter-toml = ["dep:tree-sitter-toml"]
tree-sitter-md = ["dep:tree-sitter-md"]

[profile.release]
codegen-units = 1
incremental = true
lto = true
opt-level = "s"
