[package]
name = "deno_doc"
version = "0.1.7"
edition = "2018"
description = "doc generation for deno"
authors = ["the Deno authors"]
license = "MIT"

[lib]
name = "deno_doc"

[[example]]
name = "ddoc"

[dependencies]
futures = "0.3.5"
lazy_static = "1.4.0"
serde = { version = "1.0.115", features = ["derive"] }
serde_derive = "1.0.115"
serde_json = { version = "1.0.57", features = [ "preserve_order" ] }
swc_common = { version = "=0.10.2" }
swc_ecmascript = { version = "=0.7.4", features = ["parser"] }
termcolor = "1.1.0"
regex = "1.3.9"

[dev-dependencies]
clap = "2.33.3"
tokio = { version = "0.2.22", features = ["full"] }
url = "2.1.1"