@tailwind components;
@tailwind utilities;

summary::-webkit-details-marker {
  @apply hidden;
}

:root {
  --general-border-radius: 8px;
}

.link {
  @apply text-blue-600 transition duration-75;
}
.link:hover {
  @apply text-blue-400;
}

#sidepanel {
  @apply shrink-0 box-border lg:h-screen lg:w-fit lg:sticky lg:top-0 lg:left-0 lg:overflow-y-scroll lg:overscroll-y-contain;

  scrollbar-width: thin;
}
#sidepanel label, #sidepanel a, #sidepanel .title, #sidepanel .subtitle {
  @apply py-1.5 pr-4 pl-2;
}
#sidepanel .subtitle {
  @apply font-bold;
}

#sidepanel ul {
  @apply list-none;
}
#sidepanel li {
  @apply block;
}
#sidepanel a {
  @apply flex items-center gap-2 leading-none relative rounded-lg;
}

#sidepanel .title {
  @apply flex items-center gap-2.5 mt-2 text-xl font-bold;
}

#sidepanel li > a > span {
  @apply block w-full overflow-hidden whitespace-nowrap text-ellipsis text-sm;
}
#sidepanel li > a:has(span) {
  @apply py-1;
}

#sidepanel a:hover, #sidepanel a.active {
  @apply bg-stone-200;
}

.compound_types > * + * {
  @apply -ml-1.5;
}

/* doc classes */
.anchorable {
  @apply relative;
}
.anchorable:hover .anchor {
  @apply block;
}

/* markdown common */
.markdown a, .markdown_summary a {
  @apply link;
}

.markdown h1, .markdown_summary h1 {
  @apply text-xl md:text-2xl lg:text-3xl;
}

.markdown h2, .markdown_summary h2 {
  @apply text-lg md:text-xl lg:text-2xl;
}

.markdown h3, .markdown_summary h3 {
  @apply font-bold md:text-lg md:font-normal lg:text-xl lg:font-normal;
}

.markdown h4, .markdown_summary h4 {
  @apply font-semibold md:font-bold lg:text-lg lg:font-normal;
}

.markdown h5, .markdown_summary h5 {
  @apply italic md:font-semibold lg:font-bold;
}

.markdown h6, .markdown_summary h6 {
  @apply md:italic lg:font-semibold;
}

.markdown hr, .markdown_summary hr {
  @apply m-2 border-stone-500;
}

.markdown ol, .markdown_summary ol {
  @apply list-decimal lg:list-inside;
}

.markdown ul, .markdown_summary ul {
  @apply lg:list-disc lg:list-inside;
}

/* markdown */
.markdown_border {
  @apply ml-1 pl-2.5 border-l-2 border-stone-300;
}

.markdown {
  @apply space-y-3;
}

.markdown h1 > code, .markdown h2 > code, .markdown h3 > code, .markdown h4 > code, .markdown h5 > code, .markdown h6 > code {
  font-size: inherit !important;
}

.markdown :not(pre) > code {
  @apply font-mono text-sm py-1 px-1.5 rounded;
  @apply bg-stone-100 !important;
}

.markdown pre {
  @apply font-mono text-sm p-2.5 rounded-lg text-black overflow-x-auto;
  @apply bg-stone-100 !important;
}

.markdown p {
  @apply my-1 mx-0 text-left;
}

.markdown table {
  @apply table-auto;
}

.markdown td {
  @apply p-2 border border-stone-500;
}

.markdown th {
  @apply font-bold text-center;
}

.markdown_summary {
  @apply inline text-stone-600;
}

.markdown_summary p {
  @apply inline-block;
}

.markdown_summary :not(pre) > code {
  @apply font-mono text-sm py-0.5 px-1 rounded bg-stone-200;
}

.usage .markdown pre {
  @apply m-0 pr-12;
}

.usage .markdown pre code {
  @apply block overflow-scroll;
}

.usage .usage_button:before {
  content: '';

  @apply hidden absolute w-0 h-0 -bottom-1 left-2 border-x-8 border-x-transparent border-b-8 border-b-slate-300;
  z-index: 9998;
}

.usage .usage_button:after {
  @apply hidden absolute rounded text-sm text-black text-center bg-stone-300;

  z-index: 9999;

  height: 20px;
  bottom: -20px;
  left: -36px;
  width: 100px;
}
