@tailwind base;
@tailwind components;
@tailwind utilities;

summary::-webkit-details-marker {
  @apply hidden;
}

:root {
  --general-border-radius: 8px;
}

.link {
  @apply text-blue-600 transition duration-75;
}
.link:hover {
  @apply text-blue-400;
}

#sidepanel {
  @apply shrink-0 h-screen w-fit top-0 left-0 overflow-y-scroll sticky box-border overscroll-y-contain;

  scrollbar-width: thin;
}
#sidepanel label, #sidepanel a, #sidepanel .title, #sidepanel .subtitle {
  @apply py-1.5 pr-4 pl-2;
}
#sidepanel .subtitle {
  @apply font-bold;
}

#sidepanel ul {
  @apply list-none pl-3.5;
}
#sidepanel li {
  @apply block;
}
#sidepanel a {
  @apply flex items-center gap-2 leading-none relative rounded-l-lg;
}

#sidepanel .title {
  @apply flex items-center gap-2.5 mt-2 text-xl font-bold;
}

#sidepanel li > a > span {
  @apply block w-full overflow-hidden whitespace-nowrap text-ellipsis text-sm;
}
#sidepanel li > a:has(span) {
  @apply py-1;
}

#sidepanel a:hover, #sidepanel a.active {
  @apply bg-white;
}
#sidepanel a:hover:before, #sidepanel a.active:before {
  content: "";

  @apply absolute bg-transparent right-0 rounded-br-lg;

  top: calc(var(--general-border-radius) * -2);
  height: calc(var(--general-border-radius) * 2);
  width: var(--general-border-radius);
  box-shadow: 0 var(--general-border-radius) 0 0 white;
}
#sidepanel a:hover:after, #sidepanel a.active:after {
  content: "";

  @apply absolute bg-transparent right-0 rounded-tr-lg;

  bottom: calc(var(--general-border-radius) * -2);
  height: calc(var(--general-border-radius) * 2);
  width: var(--general-border-radius);
  box-shadow: 0 calc(var(--general-border-radius) * -1) 0 0 white;
}

.compound_types > * + * {
  @apply -ml-1.5;
}

/* doc classes */
.doc_item {
  @apply relative;
}
.doc_item:hover .anchor {
  @apply block;
}

/* markdown */
.markdown_border {
  @apply ml-1 pl-2.5 border-l-2 border-stone-300;
}

.markdown {
  @apply space-y-4;
}

.markdown :not(pre) > code {
  @apply font-mono text-sm py-1 px-1.5 rounded;
  @apply bg-stone-100 !important;
}

.markdown pre {
  @apply font-mono text-sm p-2.5 rounded-lg text-black overflow-x-auto;
  @apply bg-stone-100 !important;
}

.markdown a {
  @apply link;
}

.markdown p {
  @apply my-1 mx-0 text-left;
}

.markdown table {
  @apply table-auto;
}

.markdown td {
  @apply p-2 border border-stone-500;
}

.markdown th {
  @apply font-bold text-center;
}

.markdown_summary {
  @apply inline text-stone-600;
}

.markdown_summary p {
  @apply inline-block;
}

.markdown_summary a {
  @apply link;
}

.markdown_summary :not(pre) > code {
  @apply font-mono text-sm py-0.5 px-1 rounded bg-stone-200;
}

.usage .markdown pre {
  @apply m-0 pr-12;
}

.usage .usage_button:before {
  content: '';

  @apply hidden absolute w-0 h-0 -bottom-1 left-2 border-x-8 border-x-transparent border-b-8 border-b-slate-300;
  z-index: 9998;
}

.usage .usage_button:after {
  @apply hidden absolute rounded text-sm text-black text-center bg-stone-300;

  z-index: 9999;

  height: 20px;
  bottom: -20px;
  left: -36px;
  width: 100px;
}
