<a
    href="#{{id}}"
    class="anchor float-left leading-none hidden text-stone-600 ml-[-18px] pr-1"
    aria-label="Anchor"
    tabIndex=-1
>
  {{! TODO(crowlKats): icon }}
  <div style="width: 14px; height: 14px; display: inline-block;">&#128279;</div>
</a>
