<div class="mb-6 whitespace-nowrap leading-none">
  {{ for part in parts }}
    {{ if part.is_first_symbol }}
      <span class="inline-flex">
    {{ endif }}
    {{ if not @last }}
      <a class="link {{ if @first }} italic {{ endif }}" href="{part.href}"
      >{part.name}</a>
      {{ if part.is_symbol }}
        <span>.</span>
      {{ else }}
        <span class="px-1.5">></span>
      {{ endif }}
    {{ endif }}

    {{ if @last }}
      <span class="{{ if @first }}
        italic
        {{ else }}
          {{ if part.is_all_symbols_part }}
            italic
          {{ endif }}
        {{ endif }}">
        {part.name}
      </span>
    {{ endif }}

    {{ if @last }}
      {{ if part.is_symbol }}
        </span>
      {{ endif }}
    {{ endif }}
  {{ endfor }}
</div>
