<div id="breadcrumbs">
  {{ for part in parts }}
    {{ if part.is_first_symbol }}
      <span class="breadcrumbsSymbol">
    {{ endif }}
    {{ if not @last }}
      <a class="link" href="{part.href}"
        {{ if @first }}
          style="font-style: italic;"
        {{ endif }}

      >{part.name}</a>
      {{ if part.is_symbol }}
        <span>.</span>
      {{ else }}
        <span> > </span>
      {{ endif }}
    {{ endif }}

    {{ if @last }}
      <span
        {{ if @first }}
        style="font-style: italic;"
        {{ else }}
          {{ if part.is_all_symbols_part }}
            style="font-style: italic;"
          {{ endif }}
        {{ endif }}

      >
        {part.name}
      </span>
    {{ endif }}

    {{ if @last }}
      {{ if part.is_symbol }}
        </span>
      {{ endif }}
    {{ endif }}
  {{ endfor }}
</div>
