{{ call html_head.html with html_head_ctx }}

{{ call compound_sidepanel.html with sidepanel_ctx }}

<div id="content">
  <h2>Index</h2>
  
  {{ call search_bar.html with search_ctx }}
  
  <main>
    {#- TODO(bartlomieju): call into template here #}

    {{ for module_doc in module_docs }}
    <section>
      <h2>Module<pre>{ module_doc.url }</pre></h2>
      { module_doc.docs }
    </section>
    {{ if not @last }}
    <hr>
    {{ endif }}
    {{ endfor }}

  </main>

  {{ call search_results.html with search_ctx }}
<div>

{{ call html_tail.html with html_tail_ctx }}
