{{~#if (ne this null)~}}
  <div>
    <div class="py-1 text-red-500 flex gap-1 items-center">
          <span class="font-semibold leading-6">
            Deprecated
          </span>
    </div>

    {{~#if (ne this "")~}}
      <div class="ml-1 pl-2 border-l-4 border-red-300">
        {{{this}}}
      </div>
    {{~/if~}}
  </div>
{{~/if~}}
