<div class="flex justify-end compound_types w-[2.125rem] shrink-0">
  {{~#each @root~}}
    <div class="text-{{this.kind}} bg-{{this.kind}}/15 rounded-full size-5 font-medium text-xs leading-5 text-center align-middle shrink-0 select-none font-mono" title="{{this.title}}">
      {{~this.char~}}
    </div>
  {{~/each~}}
</div>
