<div class="doc_item" id="{{id}}">
  {{~> anchor anchor ~}}

  <div class="flex justify-between">
    <span class="flex items-center break-words gap-2">
      <code>
        <span class="font-bold">{{name}}</span><span class="font-medium">{{content}}</span>
      </code>
    </span>
  </div>

  {{~#if js_doc~}}
    <div class="markdown_border">
      {{~js_doc~}}
    </div>
  {{~/if~}}
</div>
