<div class="space-y-0.5 text-sm leading-4">
  {{~#if class~}}
    {{~#if class.implements~}}
      <div>
        <span class="text-stone-400 italic"> implements </span>
        {{~#each class.implements~}}
          {{~this~}}
          {{~#unless @last~}}
            <span>, </span>
          {{~/unless~}}
        {{~/each~}}
      </div>
    {{~/if~}}

    {{~#if class.extends~}}
      <div>
        <span class="text-stone-400 italic"> extends </span>
        {{~class.extends.symbol~}}
        <span>{{class.extends.type_args}}</span>
      </div>
    {{~/if~}}
  {{~/if~}}

  {{~#if interface~}}
    <div>
      <span class="text-stone-400 italic"> extends </span>
      {{~#each interface.extends~}}
        {{~this~}}
        {{~#unless @last~}}
          <span>, </span>
        {{~/unless~}}
      {{~/each~}}
    </div>
  {{~/if~}}
</div>
