<div class="space-y-0.5 text-sm leading-4">
  {{ if class }}
    {{ if class.implements }}
      <div>
        <span class="text-gray-400 italic"> implements </span>
        {{ for implement in class.implements }}
          {implement}
          {{ if not @last }}
            <span>, </span>
          {{ endif }}
        {{ endfor }}
      </div>
    {{ endif }}

    {{ if class.extends }}
      <div>
        <span class="text-gray-400 italic"> extends </span>
        {class.extends.symbol}
        <span>{class.extends.type_args}</span>
      </div>
    {{ endif }}
  {{ endif }}

  {{ if interface }}
    <div>
      <span class="text-gray-400 italic"> extends </span>
      {{ for extend in interface.extends }}
        {extend}
        {{ if not @last }}
          <span>, </span>
        {{ endif }}
      {{ endfor }}
    </div>
  {{ endif }}
</div>
