<div class="anchorable example">
  {{~> anchor anchor ~}}

  <details id="{{id}}" open>
    <summary>
      <div>&#x25B6;</div>
      {{{~markdown_title~}}} {{! markdown rendering }}
    </summary>
    <div>
      {{{~markdown_body~}}} {{! markdown rendering }}
    </div>
  </details>
</div>
