<div class="anchorable">
  {{~> anchor anchor ~}}

  <h3 class="example-header">
    {{{~markdown_title~}}} {{! markdown rendering }}
  </h3>
  <div>
    {{{~markdown_body~}}} {{! markdown rendering }}
  </div>
</div>
