{{ for overload_ctx in overloads_ctx }}
  <input type="radio" name="{ overload_ctx.function_id }" id="{ overload_ctx.overload_id }" { overload_ctx.html_attrs } />
{{ endfor }}
<div class="function_overload_selectors">
  {{ for overload_ctx in overloads_ctx }}
    <label for="{ overload_ctx.overload_id }" class="function_overload_label">
      <code>
        <span style="font-weight: 700;">{ overload_ctx.name }</span><span style="font-weight: 500;">{ overload_ctx.summary }</span>
      </code>
      { overload_ctx.summary_doc }
    </label>
  {{ endfor }}
</div>
<div>
  {content}
</div>