{{ call html_head.html with html_head_ctx }}

{{ call index_sidepanel.html with sidepanel_ctx }}

<div id="content" class="with_sidepanel">
  <h2>Index</h2>

  {{ call search_bar.html with search_ctx }}

  <main>
    {#- TODO(bartlomieju): call into template here #}

    {{ if module_doc }}
      <section>
        <h2><pre>{ module_doc.url }</pre></h2>
        { module_doc.docs }
      </section>
    {{ endif }}
  </main>

  {{ call search_results.html with search_ctx }}
<div>

{{ call html_tail.html with html_tail_ctx }}
