<div class="anchorable text-sm" id="{{id}}">
  {{~> anchor anchor ~}}
  {{~#if readonly~}}
    <span>readonly </span>
  {{~/if~}}
  [{{{params}}}] {{! param rendering }}
  {{{~ts_type~}}} {{! typedef rendering }}
</div>
