<nav id="sidepanel">
  {{ if package_name }}
    <h2 class="text-lg font-semibold"><a href="{root_url}"><span>{package_name}</span></a></h2>
  {{ endif }}

  <a class="mt-1" href="{all_symbols_url}">All symbols</a>

  {{ if files }}
    <h3 class="title">Exports</h3>
    <ul>
      {{ for file in files }}
        <li>
          <a href="{file.href}" title="{ file.name }"><span>{file.name}</span></a>
        </li>
      {{ endfor }}
      {{ if expand_files }}
        <input type="checkbox" id="fileDivider" class="hidden peer" autocomplete="off" />
        <label for="fileDivider" class="cursor-pointer peer-checked:hidden">...</label>
        {{ for file in expand_files }}
          <li class="!hidden peer-checked:!block">
            <a href="{file.href}" title="{ file.name }"><span>{file.name}</span></a>
          </li>
        {{ endfor }}
      {{ endif }}
    </ul>
  {{ endif }}

  {{ if kind_partitions }}
    <h3 class="title">APIs</h3>
    <ul class="space-y-2">
      {{ for kind in kind_partitions }}
      <li>
        <h4 class="subtitle">{ kind.name }</h4>
        <ul>
          {{ for symbol in kind.symbols }}
          <li>
            <a href="{ symbol.href }" title="{ symbol.name }">
              {{ call doc_node_kind_icon.html with symbol.kind }}
              <span>{ symbol.name }</span>
            </a>
          </li>
          {{ endfor }}
        </ul>
      </li>
      {{ endfor }}
    </ul>
  {{ endif }}
</nav>
