<nav id="sidepanel">
    {{ if package_name }}
      <h2><a href="{root_url}"><span>{package_name}</span></a></h2>
    {{ endif }}

    <a href="{all_symbols_url}">All symbols</a>

    {{ if files }}
      <h3 class="title">Modules</h3>
      <input type="checkbox" id="fileDivider" autocomplete="off" />
      <ul>
        {{ for file in files }}
          <li>
            <a href="{file.href}">{file.name}</a>
          </li>
        {{ endfor }}
        {{ if expand_files }}
          <label for="fileDivider">...</label>
          {{ for file in expand_files }}
            <li>
              <a href="{file.href}">{file.name}</a>
            </li>
          {{ endfor }}
        {{ endif }}
      </ul>
    {{ endif }}

    {{ if kind_partitions }}
      <h3 class="title">APIs</h3>
      <ul>
        {{ for kind in kind_partitions }}
        <li>
          <h4>{ kind.name }</h4>
          <ul>
            {{ for symbol in kind.symbols }}
            <li>
              <a href="{ symbol.href }">
                {{ call doc_node_kind_icon.html with symbol.kind }}
                <span>{ symbol.name }</span>
              </a>
            </li>
            {{ endfor }}
          </ul>
        </li>
        {{ endfor }}
      </ul>
    {{ endif }}
</nav>
