<section class="space-y-2">
  {{~#if title~}}
    <h2 class="text-lg font-semibold font-mono">{{title}}</h2>
    <hr class="mt-2 mb-4" />
  {{~/if~}}

  {{~> deprecated deprecated ~}}

  {{~#if usages~}}
    {{~> usages usages ~}}
  {{~/if~}}

  {{~#if docs~}}
    {{{docs}}}
  {{~/if~}}

  {{~#if examples~}}
    <div>
      <h2 class="text-xl leading-6 font-semibold py-1">Examples</h2>
      <div class="space-y-3">
        {{~#each examples~}}
          {{~> example this ~}}
        {{~/each~}}
      </div>
    </div>
  {{~/if~}}
</section>
