<div>
  <h2 class="section_title" id="{id}"><a href="#{id}" aria-label="Anchor">{title}</a></h2>
  <table class="symbol_section">
    {{ for node in nodes }}
      <tr>
        <td class="symbol_section_symbol">
          { node.origin }
          <div>
            {{ call doc_node_kind_icon.html with node.doc_node_kind_ctx }}
            <a href="./{node.name}.html">{node.name}</a>
          </div>
        </td>
        <td class="symbol_section_doc">
        { node.docs }
        </td>
      </tr>
    {{ endfor }}
  </table>
</div>
