<div>
  <h2 class="text-sm leading-6 font-medium text-stone-400 py-1" id="{id}"><a href="#{id}" aria-label="Anchor">{title}</a></h2>
  <table class="block lg:table">
    {{ for node in nodes }}
      <tr class="block lg:table-row">
        <td class="block py-1 pr-3 font-bold lg:table-cell">
          { node.origin }
          <div class="min-w-52 flex items-center space-x-2">
            {{ call doc_node_kind_icon.html with node.doc_node_kind_ctx }}
            <a href="{node.href}">{node.name}</a>
          </div>
        </td>
        <td class="block py-1 text-sm leading-5 text-stone-500 lg:table-cell">
        { node.docs }
        </td>
      </tr>
    {{ endfor }}
  </table>
</div>
