<div>
  <h2 class="text-lg leading-6 font-bold py-1" id="{id}">
    <a href="#{id}" aria-label="Anchor">
      {title}
    </a>
  </h2>
  <div class="grid grid-cols-3 gap-6">
    {{ for node in nodes }}
      <div class="space-y-2">
        <div class="py-1 pr-3">
          { node.origin }
          <div class="min-w-52 flex items-center space-x-2">
            {{ call doc_node_kind_icon.html with node.doc_node_kind_ctx }}
            <a href="{node.href}" class="text-sm leading-none">{node.name}</a>
          </div>
        </div>
        <div class="block py-1 text-sm leading-5 text-stone-600 !ml-2 markdown_border">
          {{ if node.docs }}
            { node.docs }
          {{ else }}
            <span class="italic">No documentation available</span>
          {{ endif }}
        </div>
      </div>
    {{ endfor }}
  </div>
</div>
