<section class="section">
  <h2>{{title}}</h2>

  {{~#if (eq content.kind "namespace_section")~}}
    {{~> namespace_section content.content ~}}
  {{~else~}}
    <div class="ml-2 space-y-3">
      {{~#each content.content~}}
        {{~> (lookup ../content "kind") this ~}}
      {{~/each~}}
    </div>
  {{~/if~}}
</section>
