<div>
  <h2 class="text-xl leading-6 font-semibold py-1">{{title}}</h2>

  {{~#if (eq content.kind "namespace_section")~}}
    {{~> namespace_section content.content ~}}
  {{~else~}}
    <div class="ml-2 mt-2 space-y-4">
      {{~#each content.content~}}
        {{~> (lookup ../content "kind") this ~}}
      {{~/each~}}
    </div>
  {{~/if~}}
</div>
