<input type="checkbox" id="sidepanelToggle" class="hidden peer" autocomplete="off">

<div class="max-lg:flex max-lg:justify-between">
	<label for="sidepanelToggle" class="lg:hidden">
    {{~> icons/menu ~}}
  </label>
</div>
