@tailwind components;
@tailwind utilities;

summary::-webkit-details-marker {
  @apply hidden;
}


:root {
  --general-border-radius: 8px;
}

.link {
  @apply text-blue-600 transition duration-75;
}

.link:hover {
  @apply text-blue-400;
}

#sidepanel {
  @apply shrink-0 box-border lg:h-screen lg:sticky lg:top-0 lg:left-0 lg:overflow-y-auto lg:overscroll-y-contain;
  scrollbar-width: thin;
}
#sidepanel label, #sidepanel a, #sidepanel .title, #sidepanel .subtitle {
  @apply py-1.5 pr-4 pl-2;
}
#sidepanel .subtitle {
  @apply font-bold;
}

#sidepanel ul {
  @apply list-none;
}
#sidepanel li {
  @apply block;
}
#sidepanel a {
  @apply flex items-center gap-2 leading-none relative rounded-lg;
}

#sidepanel .title {
  @apply flex items-center gap-2.5 mt-2 text-xl font-bold;
}

#sidepanel li > a > span {
  @apply block w-full overflow-hidden whitespace-nowrap text-ellipsis text-sm;
}
#sidepanel li > a:has(span) {
  @apply py-1;
}

#sidepanel a:hover, #sidepanel a.active {
  @apply bg-stone-200;
}

.compound_types > * + * {
  @apply -ml-1.5;
}

/* doc classes */
.anchorable {
  @apply relative;
}

.anchorable:hover .anchor {
  @apply block;
}

.markdown {
  a:not(.no_color) {
    @apply link;
  }

  h1 {
    @apply text-xl md:text-2xl lg:text-3xl border-b border-stone-300 pb-1;
  }

  h2 {
    @apply text-lg md:text-xl lg:text-2xl border-b border-stone-300 pb-1;
  }

  h3 {
    @apply font-bold md:text-lg md:font-normal lg:text-xl lg:font-normal;
  }

  h4 {
    @apply font-semibold md:font-bold lg:text-lg lg:font-normal;
  }

  h5 {
    @apply italic md:font-semibold lg:font-bold;
  }

  h6 {
    @apply md:italic lg:font-semibold;
  }

  hr {
    @apply m-2 border-stone-500;
  }

  ol {
    @apply list-decimal lg:list-inside;
  }

  ul {
    @apply list-disc lg:list-inside;
  }

  /* Inline code */
  :not(pre) > code {
    @apply font-mono text-sm py-0.5 px-1 rounded bg-stone-200;
  }

  h1 > code, h2 > code, h3 > code, h4 > code, h5 > code, h6 > code {
    font-size: inherit !important;
  }

  pre {
    @apply font-mono text-sm p-4 rounded-lg text-black bg-stone-100 overflow-x-auto;
  }

  p {
    @apply my-1 mx-0 text-left;
  }

  table {
    @apply table-auto;
  }

  td {
    @apply p-2 border border-stone-500;
  }

  th {
    @apply font-bold text-center;
  }
}


/* markdown */
.markdown_border {
  @apply ml-1 pl-2.5 border-l-2 border-stone-300;
}

.markdown {
  @apply space-y-3 shrink min-w-0;
}

.markdown img {
  display: inline-block;
}

.markdown_summary {
  @apply inline text-stone-600;
}

.markdown_summary p {
  @apply inline-block;
}

.markdown_summary :not(pre) > code {
  @apply font-mono text-sm py-0.5 px-1 rounded bg-stone-200;
}

.markdown .highlight {
  /*!
  * GitHub Light v0.5.0
  * Copyright (c) 2012 - 2017 GitHub, Inc.
  * Licensed under MIT (https://github.com/primer/github-syntax-theme-generator/blob/master/LICENSE)
  */
  .pl-c /* comment, punctuation.definition.comment, string.comment */ {
    color: #6a737d;
  }

  .pl-c1 /* constant, entity.name.constant, variable.other.constant, variable.language, support, meta.property-name, support.constant, support.variable, meta.module-reference, markup.raw, meta.diff.header, meta.output */,
  .pl-s .pl-v /* string variable */ {
    color: #005cc5;
  }

  .pl-e /* entity */,
  .pl-en /* entity.name */ {
    color: #6f42c1;
  }

  .pl-smi /* variable.parameter.function, storage.modifier.package, storage.modifier.import, storage.type.java, variable.other */,
  .pl-s .pl-s1 /* string source */ {
    color: #24292e;
  }

  .pl-ent /* entity.name.tag, markup.quote */ {
    color: #22863a;
  }

  .pl-k /* keyword, storage, storage.type */ {
    color: #d73a49;
  }

  .pl-s /* string */,
  .pl-pds /* punctuation.definition.string, source.regexp, string.regexp.character-class */,
  .pl-s .pl-pse .pl-s1 /* string punctuation.section.embedded source */,
  .pl-sr /* string.regexp */,
  .pl-sr .pl-cce /* string.regexp constant.character.escape */,
  .pl-sr .pl-sre /* string.regexp source.ruby.embedded */,
  .pl-sr .pl-sra /* string.regexp string.regexp.arbitrary-repitition */ {
    color: #032f62;
  }

  .pl-v /* variable */,
  .pl-smw /* sublimelinter.mark.warning */ {
    color: #e36209;
  }

  .pl-bu /* invalid.broken, invalid.deprecated, invalid.unimplemented, message.error, brackethighlighter.unmatched, sublimelinter.mark.error */ {
    color: #b31d28;
  }

  .pl-ii /* invalid.illegal */ {
    color: #fafbfc;
    background-color: #b31d28;
  }

  .pl-c2 /* carriage-return */ {
    color: #fafbfc;
    background-color: #d73a49;
  }

  .pl-c2::before /* carriage-return */ {
    content: "^M";
  }

  .pl-sr .pl-cce /* string.regexp constant.character.escape */ {
    font-weight: bold;
    color: #22863a;
  }

  .pl-ml /* markup.list */ {
    color: #735c0f;
  }

  .pl-mh /* markup.heading */,
  .pl-mh .pl-en /* markup.heading entity.name */,
  .pl-ms /* meta.separator */ {
    font-weight: bold;
    color: #005cc5;
  }

  .pl-mi /* markup.italic */ {
    font-style: italic;
    color: #24292e;
  }

  .pl-mb /* markup.bold */ {
    font-weight: bold;
    color: #24292e;
  }

  .pl-md /* markup.deleted, meta.diff.header.from-file, punctuation.definition.deleted */ {
    color: #b31d28;
    background-color: #ffeef0;
  }

  .pl-mi1 /* markup.inserted, meta.diff.header.to-file, punctuation.definition.inserted */ {
    color: #22863a;
    background-color: #f0fff4;
  }

  .pl-mc /* markup.changed, punctuation.definition.changed */ {
    color: #e36209;
    background-color: #ffebda;
  }

  .pl-mi2 /* markup.ignored, markup.untracked */ {
    color: #f6f8fa;
    background-color: #005cc5;
  }
}
