@tailwind components;
@tailwind utilities;

summary::-webkit-details-marker {
  @apply hidden;
}

& {
  --ddoc-selection-border-width: 2px;
  --ddoc-selection-border-color-default: #D6D3D1;
  --ddoc-selection-selected-border-color: #2564EB;
  --ddoc-selection-selected-bg: #056CF00C;
  --ddoc-selection-padding: 9px 15px;
}

.link {
  @apply text-blue-600 transition duration-75;
}

.link:hover {
  @apply text-blue-400;
}

#sidepanel {
  @apply shrink-0 box-border lg:h-screen lg:sticky lg:top-0 lg:left-0 lg:overflow-y-auto lg:overscroll-y-contain;
  scrollbar-width: thin;

  label, a, h2, h3 {
    @apply py-1.5 pr-4 pl-2;
  }

  h2 {
    @apply flex items-center gap-2.5 mt-2 text-xl font-bold;
  }

  h3 {
    @apply font-bold;
  }

  ul {
    @apply list-none;
  }

  li {
    @apply block;
  }

  a {
    @apply flex items-center gap-2 leading-none relative rounded-lg;
  }

  li > a > span {
    @apply block w-full overflow-hidden whitespace-nowrap text-ellipsis text-sm;
  }

  li > a:has(span) {
    @apply py-1;
  }

  a:hover, a.active {
    @apply bg-stone-200;
  }
}

.anchor {
  @apply hidden float-left leading-none text-stone-600 ml-[-24px] p-1 pr-1 pt-1 top-0 bottom-0;
}

.anchorable {
  @apply relative;

  &:hover .anchor {
    @apply block;
  }
}

.deprecated {
  > div:first-child {
    @apply py-1 text-red-500 flex gap-1 items-center;

    > span {
      @apply font-semibold leading-6;
    }
  }

  > div:nth-child(2) {
    @apply ml-1 pl-2 border-l-4 border-red-300;
  }
}

.symbolSubtitle {
  @apply space-y-0.5 text-sm leading-4;

  .type {
    @apply text-stone-400 italic;
  }
}

.docEntry {
  @apply text-sm;

  .docEntryHeader {
    @apply flex justify-between items-start;

    > span {
      @apply flex items-center break-words gap-2;
    }
  }
}

.section {
  @apply space-y-6;

  > div {
    @apply space-y-1;

    > h2 {
      @apply text-xl leading-6 font-semibold py-1;
    }
  }
}

.namespaceSection {
  @apply grid grid-cols-1 gap-y-3 lg:grid-cols-4 lg:gap-x-3 lg:gap-y-8;

  .namespaceItem {
    @apply flex gap-x-2.5;

    .docNodeKindIcon {
      @apply w-auto flex-col justify-start;

      > * + * {
        @apply ml-0 -mt-0.5;
      }
    }

    &[aria-label="deprecated"] {
      @apply opacity-60;

      .namespaceItemContent > a {
        @apply line-through decoration-2 decoration-stone-500/70 text-stone-500;
      }
    }

    .namespaceItemContent {
      @apply space-y-1.5;

      > a {
        @apply block leading-tight break-all font-medium;
      }

      > div {
        @apply text-sm leading-5 text-stone-600;
      }
    }
  }
}

.symbolGroup {
  @apply space-y-12;

  article {
    @apply space-y-5;

    > div:first-child {
      @apply flex justify-between items-start;

      > div:first-child {
        @apply font-medium space-y-1;
      }
    }
  }
}

.docNodeKindIcon {
  @apply inline-flex justify-end shrink-0;

  div {
    @apply rounded-full size-5 font-medium text-xs leading-5 text-center align-middle shrink-0 select-none font-mono;
  }

  > * + * {
    @apply -ml-1.5;
  }
}

.example details {
  summary {
    @apply list-none flex items-center gap-2 py-2 rounded-lg w-full leading-6 cursor-pointer;

    > div:first-child {
      @apply text-stone-600 select-none;
    }
  }

  &[open] summary > div:first-child {
    @apply rotate-90;
  }
}

.tocable {
  @apply flex max-lg:flex-col-reverse gap-6;

  .toc {
    @apply flex-none max-w-52 text-sm max-lg:hidden sticky top-0 py-4 max-h-screen box-border;

    > ul {
      @apply space-y-2 block overflow-y-auto h-full;

      ul {
        @apply ml-4 space-y-2;
      }
    }

    a {
      @apply hover:underline block overflow-x-hidden whitespace-nowrap text-ellipsis;
    }
  }
}

.usage {
  @apply px-6 py-5 mb-4 border max-md:border-x-0 md:rounded-lg bg-stone-50 border-stone-200;

  nav {
    @apply flex items-center flex-row gap-2 mb-3 font-semibold;

    details {
      > summary {
        @apply flex gap-1 select-none cursor-pointer rounded border border-gray-300 py-2 px-3;
      }

      > div {
        @apply md:relative;

        > div {
          @apply absolute max-md:inset-x-0 mt-1.5 p-2 block z-30 md:w-72 bg-white md:rounded border max-md:border-x-0 border-gray-300;

          label {
            @apply flex items-center justify-between cursor-pointer select-none px-2 py-1 leading-normal rounded-sm hover:bg-gray-50;
          }
        }
      }
    }
  }

  pre.highlight {
    @apply border border-gray-300 max-md:border-x-0;
  }
}

.contextLink {
  @apply text-contextLink underline decoration-[1.5px] decoration-contextLink/50 underline-offset-4 hover:decoration-contextLink;
}

.breadcrumbs {
  @apply whitespace-nowrap inline-flex gap-1 items-center;

  > li, > ul {
    @apply py-1 px-2;
  }
}

.functionOverload {
  @apply space-y-1 block px-4 py-2.5 rounded-lg border border-stone-300 cursor-pointer hover:bg-stone-100;
}

.context_button {
  @apply z-10 rounded p-1.5 cursor-pointer border bg-inherit hover:bg-stone-300 leading-[0];
}

/* markdown */
.markdown_border {
  @apply ml-1 pl-2.5 border-l-2 border-stone-300/40;
}

.markdown_summary {
  @apply inline text-stone-600;

  p {
    @apply inline-block;
  }

  :not(pre) > code {
    @apply font-mono text-sm py-0.5 px-1 rounded bg-stone-200;
  }
}

.markdown {
  @apply space-y-3 shrink min-w-0;

  a:not(.no_color) {
    @apply link;
  }

  h1 {
    @apply text-xl md:text-2xl lg:text-3xl border-b border-stone-300 pb-1;
  }

  h2 {
    @apply text-lg md:text-xl lg:text-2xl border-b border-stone-300 pb-1;
  }

  h3 {
    @apply font-bold md:text-lg md:font-normal lg:text-xl lg:font-normal;
  }

  h4 {
    @apply font-semibold md:font-bold lg:text-lg lg:font-normal;
  }

  h5 {
    @apply italic md:font-semibold lg:font-bold;
  }

  h6 {
    @apply md:italic lg:font-semibold;
  }

  hr {
    @apply m-2 border-stone-500;
  }

  ol, ul {
    @apply list-outside ml-4;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  /* Inline code */

  :not(pre) > code {
    @apply font-mono text-sm py-0.5 px-1 rounded bg-stone-200;
  }

  h1, h2, h3, h4, h5, h6 {
    & > code {
      font-size: inherit !important;
    }
  }

  pre {
    @apply font-mono text-sm rounded-lg text-black bg-stone-100;
  }

  pre > code:first-child {
    @apply overflow-x-auto p-4 block;
  }

  p {
    @apply my-1 mx-0;
  }

  table {
    @apply block table-auto overflow-auto w-max max-w-full;
  }

  td {
    @apply p-2 border border-stone-500;
  }

  th {
    @apply font-bold text-center;
  }

  img {
    display: inline-block;
  }

  .alert {
    @apply py-2 px-4 border-l-4 space-y-2;

    div:first-child {
      @apply font-medium flex items-center gap-1.5;

      svg {
        @apply size-5;
      }
    }
  }

  .alert-note {
    @apply border-blue-600;

    div:first-child {
      @apply text-blue-600 stroke-blue-600;
    }
  }

  .alert-tip {
    @apply border-green-600;

    div:first-child {
      @apply text-green-600 stroke-green-600;
    }
  }

  .alert-important {
    @apply border-purple-600;

    div:first-child {
      @apply text-purple-600 stroke-purple-600;
    }
  }

  .alert-warning {
    @apply border-yellow-600;

    div:first-child {
      @apply text-yellow-600 stroke-yellow-600;
    }
  }

  .alert-caution {
    @apply border-red-600;

    div:first-child {
      @apply text-red-600 stroke-red-600;
    }
  }
}

.markdown .highlight {
  @apply relative;

  .lineNumbers {
    @apply border-r-2 border-stone-300 pr-1 text-right flex-none;
  }

  .context_button {
    @apply absolute top-3 right-4 opacity-60 hover:opacity-100;
  }

  /*!
  * GitHub Light v0.5.0
  * Copyright (c) 2012 - 2017 GitHub, Inc.
  * Licensed under MIT (https://github.com/primer/github-syntax-theme-generator/blob/master/LICENSE)
  */

  .pl-c /* comment, punctuation.definition.comment, string.comment */
  {
    color: #6A737D;
  }

  .pl-c1 /* constant, entity.name.constant, variable.other.constant, variable.language, support, meta.property-name, support.constant, support.variable, meta.module-reference, markup.raw, meta.diff.header, meta.output */,
  .pl-s .pl-v /* string variable */
  {
    color: #005CC5;
  }

  .pl-e /* entity */,
  .pl-en /* entity.name */
  {
    color: #6F42C1;
  }

  .pl-smi /* variable.parameter.function, storage.modifier.package, storage.modifier.import, storage.type.java, variable.other */,
  .pl-s .pl-s1 /* string source */
  {
    color: #24292E;
  }

  .pl-ent /* entity.name.tag, markup.quote */
  {
    color: #22863A;
  }

  .pl-k /* keyword, storage, storage.type */
  {
    color: #D73A49;
  }

  .pl-s /* string */,
  .pl-pds /* punctuation.definition.string, source.regexp, string.regexp.character-class */,
  .pl-s .pl-pse .pl-s1 /* string punctuation.section.embedded source */,
  .pl-sr /* string.regexp */,
  .pl-sr .pl-cce /* string.regexp constant.character.escape */,
  .pl-sr .pl-sre /* string.regexp source.ruby.embedded */,
  .pl-sr .pl-sra /* string.regexp string.regexp.arbitrary-repitition */
  {
    color: #032F62;
  }

  .pl-v /* variable */,
  .pl-smw /* sublimelinter.mark.warning */
  {
    color: #E36209;
  }

  .pl-bu /* invalid.broken, invalid.deprecated, invalid.unimplemented, message.error, brackethighlighter.unmatched, sublimelinter.mark.error */
  {
    color: #B31D28;
  }

  .pl-ii /* invalid.illegal */
  {
    color: #FAFBFC;
    background-color: #B31D28;
  }

  .pl-c2 /* carriage-return */
  {
    color: #FAFBFC;
    background-color: #D73A49;
  }

  .pl-c2::before /* carriage-return */
  {
    content: "^M";
  }

  .pl-sr .pl-cce /* string.regexp constant.character.escape */
  {
    font-weight: bold;
    color: #22863A;
  }

  .pl-ml /* markup.list */
  {
    color: #735C0F;
  }

  .pl-mh /* markup.heading */,
  .pl-mh .pl-en /* markup.heading entity.name */,
  .pl-ms /* meta.separator */
  {
    font-weight: bold;
    color: #005CC5;
  }

  .pl-mi /* markup.italic */
  {
    font-style: italic;
    color: #24292E;
  }

  .pl-mb /* markup.bold */
  {
    font-weight: bold;
    color: #24292E;
  }

  .pl-md /* markup.deleted, meta.diff.header.from-file, punctuation.definition.deleted */
  {
    color: #B31D28;
    background-color: #FFEEF0;
  }

  .pl-mi1 /* markup.inserted, meta.diff.header.to-file, punctuation.definition.inserted */
  {
    color: #22863A;
    background-color: #F0FFF4;
  }

  .pl-mc /* markup.changed, punctuation.definition.changed */
  {
    color: #E36209;
    background-color: #FFEBDA;
  }

  .pl-mi2 /* markup.ignored, markup.untracked */
  {
    color: #F6F8FA;
    background-color: #005CC5;
  }
}
