<main class="space-y-12" id="symbol_{name}">
  {{~#each symbols~}}
    <article class="space-y-5">
      <div class="flex justify-between items-start">
        <div class="font-medium space-y-1">
          <div class="text-xl leading-none">
            <span class="text-{{this.kind.kind}}">{{this.kind.title_lowercase}}</span>&nbsp;<span class="font-bold">{{../name}}</span>
          </div>
          {{~#if this.subtitle ~}}
            <div class="space-y-0.5 text-sm leading-4">
              {{~> (concat "doc_block_subtitle_" this.subtitle.kind) this.subtitle.value ~}}
            </div>
          {{~/if~}}
        </div>
      </div>
      {{~#if @first~}}
        {{~> usage ../usage ~}}
      {{~/if~}}
      <div>
        {{~this.body~}}
      </div>
    </article>
  {{~/each~}}
</main>
