<main class="symbol_group" id="symbol_{name}">
  {{ for symbol in symbols }}
    <article class="symbol">
      <div class="symbol_header">
        <div class="doc_block_title">
          <div>
            <span class="kind_{symbol.kind.kind}_text">{symbol.kind.title_lowercase}</span>&nbsp;<span style="font-weight: 700;">{name}</span>
          </div>
          {symbol.subtitle}
        </div>
      </div>
      {{ if @first }}
        {{ call usage.html with usage }}
      {{ endif }}
      <div>
        {symbol.body}
      </div>
    </article>
  {{ endfor }}
</main>
