{{~> pages/html_head html_head_ctx ~}}

<div id="content">
  {{~> breadcrumbs breadcrumbs_ctx ~}}
  {{~> pages/search_bar ~}}

  <main>
    {{~> symbol_content content ~}}
  </main>

  {{~> pages/search_results ~}}
</div>
</body>
</html>
