{{~> pages/html_head html_head_ctx ~}}
{{~> category_panel categories_panel ~}}
<div>
  {{~> pages/top_nav ~}}

  {{~> pages/search_results ~}}

  <div id="content">
    <main>
      {{~> all_symbols content ~}}
    </main>
  </div>
</div>
</div>
</body>
</html>
