{{~> pages/html_head html_head_ctx ~}}
{{~> pages/category_panel categories_panel ~}}
<div>
  {{~> pages/top_nav ~}}

  <div id="content">
    <main>
      {{~> symbol_content content ~}}
    </main>

    {{~> pages/search_results ~}}
  </div>
</div>
</div>
</body>
</html>
