{{~> pages/html_head html_head_ctx ~}}

<div id="content">
  {{~> breadcrumbs breadcrumbs_ctx ~}}
  {{~> pages/search_bar ~}}

  <main class="space-y-7">
    {{~#each namespace_ctx.sections~}}
      {{~> namespace_section this ~}}
    {{~/each~}}
  </main>

  {{~> pages/search_results ~}}
</div>
</body>
</html>
