{{~> pages/html_head html_head_ctx ~}}

{{~> index_sidepanel sidepanel_ctx ~}}

<div id="content">
	{{~> pages/top_nav ~}}

  <main>
	  {{~#if module_doc ~}}
		  {{~> module_doc module_doc ~}}
	  {{~/if~}}

	  {{~#if all_symbols ~}}
		  {{~> symbol_content all_symbols ~}}
	  {{~/if~}}
  </main>

  {{~> pages/search_results ~}}
</div>
</body>
</html>
