{{~> pages/html_head html_head_ctx ~}}

{{~> sidepanel sidepanel_ctx ~}}

<div id="content">
  {{~> breadcrumbs breadcrumbs_ctx ~}}
  {{~> pages/search_bar ~}}

  {{~> symbol_group symbol_group_ctx ~}}

  {{~> pages/search_results ~}}
</div>
</body>
</html>
