{{~> pages/html_head html_head_ctx ~}}
{{~> category_panel categories_panel ~}}
<div>
  {{~> pages/top_nav ~}}

  {{~> pages/search_results ~}}
  
  <div id="content">
    {{~> symbol_group symbol_group_ctx ~}}

    {{~> toc toc_ctx ~}}
  </div>
</div>
</div>
</body>
</html>
