<nav class="flex lg:items-center justify-between mb-6 gap-4 max-lg:flex-col-reverse">
	{{~> breadcrumbs breadcrumbs_ctx ~}}

	<input
		type="text"
		id="searchbar"
		style="display: none;"
		class="flex-1 lg:max-w-80 py-2 px-2.5 rounded text-sm border border-gray-300 bg-transparent" />
</nav>
